.container_shopContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
    padding: 32px;
    flex: 1;
    min-height: 0;
    align-items: stretch;
}

@media (max-width: 1023px) {
    .container_shopContent {
        flex-direction: column;
    }
}